
*.yaml
*.xml
*.dll
*.exe
*.pdb
*.json
bin/Debug/net7.0/sfan
bin/Debug/net7.0/selenium-manager/macos/selenium-manager
bin/Debug/net7.0/selenium-manager/linux/selenium-manager
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/apphost
obj/Debug/net7.0/sfan.AssemblyInfo.cs
obj/Debug/net7.0/sfan.AssemblyInfoInputs.cache
obj/Debug/net7.0/sfan.assets.cache
obj/Debug/net7.0/sfan.csproj.AssemblyReference.cache
obj/Debug/net7.0/sfan.csproj.CopyComplete
obj/Debug/net7.0/sfan.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/sfan.csproj.FileListAbsolute.txt
obj/Debug/net7.0/sfan.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/sfan.genruntimeconfig.cache
obj/Debug/net7.0/sfan.GlobalUsings.g.cs
obj/project.nuget.cache
obj/rider.project.restore.info
obj/sfan.csproj.nuget.g.props
obj/sfan.csproj.nuget.g.targets
*.png
*.txt
